# Environment & Secrets
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific temp files
last_coder_output.txt